@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'fonts';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bgcolor;
}

.container {
  max-width: 1200px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.movies-container {
  position: relative;
  &::before {
    position: absolute;
    width: 100%;
    height: 333px;
    background-color: rgba(#FFFFFF, 0.05);
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@import 'headerSearch';
@import 'headerDropdown';
@import 'homeCarousel';
@import 'titleText';